<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <h1 id="valor">Sem dados</h1>
        <p>Leitura do Arduino</p>
    </div>
</body>
</html>